.DS_Store
node_modules
/dist
# 忽略目录
# examples/
public/
lib/

# 忽略指定文件
yarn.lock
package-lock.json
yarn-error.log
*.map

# local env files
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
